javascript/expansion-matrix.js
javascript/final-permutation-matrix.js
javascript/initial-permutation-matrix.js
javascript/permutation-matrix.js
javascript/permuted-choice-1-matrix.js
javascript/permuted-choice-2-matrix.js
javascript/string-to-binary.js